
node_modules
.next
.env
*.pdf
*.zip
dist
build
*.ttf
.git

public/fonts/**/*.ttf

!public/fonts/NotoSans/NotoSans-Regular.ttf
!public/fonts/NotoSans/NotoSans-Bold.ttf
!public/fonts/NotoSans/NotoSansDevanagari-Regular.ttf


!public/fonts/RobotoBold/Roboto-Bold.ttf
!public/fonts/dejavu-sans/DejaVuSans.ttf

!public/fonts/inter/Inter-Regular.ttf
!public/fonts/inter/Inter-Bold.ttf


